.header {

    &.a {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background-color: black;
    }
    
}

.illuminatefestival {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &.ul {
        list-style: bullets;
    }
    
}